.top-content {
  border-bottom: 1px solid #ccc;
  margin-left: 8px;
  margin-right: 8px;
}

.example-content {
  padding: 8px;
}

.examples .nav-link {
  color: #58D68D;
}

.examples .nav-link.active {
  color: #000;
}

@media (max-width: 768px) {
  .examples-container {
    order: 1;
  }

  .introduction-container {
    order: 2;
  }
}

#examples_diet pre, #examples_yurai pre {
  max-width: 100%;
}
